{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign hero_image = collection.metafields.custom.collection_hero_image.value
  assign hero_description = collection.metafields.custom.collection_description.value
  if hero_image == blank
    assign hero_image = collection.image
  endif
-%}

{%- style -%}
  #CollectionHero-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
{%- endstyle -%}

<div
  id="CollectionHero-{{ section.id }}"
  class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-center banner--{{ section.settings.image_height }}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
>
  {%- if hero_image != blank -%}
    <div class="banner__media media">
      {{
        hero_image
        | image_url: width: 3840
        | image_tag:
          loading: 'eager',
          fetchpriority: 'high',
          class: 'banner__media-image-desktop',
          sizes: '100vw',
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
          alt: hero_image.alt | default: collection.title | escape
      }}
    </div>
  {%- else -%}
    <div class="banner__media media placeholder">
      {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}

  <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <div class="banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient">
      <h1 class="banner__heading inline-richtext {{ section.settings.heading_size }}">
        {{ collection.title | escape }}
      </h1>
      {%- if hero_description != blank -%}
        <div class="banner__text rte body">
          <p>{{ hero_description }}</p>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection Hero Banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "image_height",
      "label": "Banner height",
      "options": [
        { "value": "adapt", "label": "Adapt to image" },
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ],
      "default": "medium"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 50,
      "step": 10,
      "unit": "%",
      "label": "Image overlay opacity",
      "default": 0
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "label": "Desktop content position",
      "options": [
        { "value": "top-left", "label": "Top left" },
        { "value": "top-center", "label": "Top center" },
        { "value": "top-right", "label": "Top right" },
        { "value": "middle-left", "label": "Middle left" },
        { "value": "middle-center", "label": "Middle center" },
        { "value": "middle-right", "label": "Middle right" },
        { "value": "bottom-left", "label": "Bottom left" },
        { "value": "bottom-center", "label": "Bottom center" },
        { "value": "bottom-right", "label": "Bottom right" }
      ],
      "default": "middle-center"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "label": "Desktop content alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading size",
      "options": [
        { "value": "h2", "label": "Small" },
        { "value": "h1", "label": "Medium" },
        { "value": "h0", "label": "Large" }
      ],
      "default": "h1"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "label": "Show text box background",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Collection Hero Banner"
    }
  ]
}
{% endschema %}
