{{ 'section-product-editorial.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign editorial_content = section.settings.content
  if editorial_content == blank and section.settings.use_description_fallback
    assign editorial_content = product.description
  endif

  assign editorial_heading = section.settings.heading
  if editorial_heading == blank
    assign editorial_heading = section.settings.fallback_heading
  endif
-%}

{%- if editorial_content != blank -%}
  <div class="gradient color-{{ section.settings.color_scheme }}">
    <div class="page-width section-{{ section.id }}-padding">
      <div class="product-editorial{% if editorial_heading == blank %} product-editorial--no-heading{% endif %}">
        {%- if editorial_heading != blank -%}
          <h2 class="product-editorial__heading">{{ editorial_heading }}</h2>
        {%- endif -%}
        <div class="product-editorial__content rte">
          {{ editorial_content }}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.product-editorial.name",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.product-editorial.settings.heading.label",
      "info": "t:sections.product-editorial.settings.heading.info"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "t:sections.product-editorial.settings.content.label",
      "info": "t:sections.product-editorial.settings.content.info"
    },
    {
      "type": "checkbox",
      "id": "use_description_fallback",
      "default": true,
      "label": "t:sections.product-editorial.settings.use_description_fallback.label",
      "info": "t:sections.product-editorial.settings.use_description_fallback.info"
    },
    {
      "type": "text",
      "id": "fallback_heading",
      "default": "t:sections.product-editorial.settings.fallback_heading.default",
      "label": "t:sections.product-editorial.settings.fallback_heading.label",
      "info": "t:sections.product-editorial.settings.fallback_heading.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.product-editorial.settings.color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.product-editorial.settings.padding_top.label",
      "default": 52
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.product-editorial.settings.padding_bottom.label",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-editorial.presets.name"
    }
  ]
}
{% endschema %}
